$primary-green: #00c06d;
$orange-tag: #ff9f43;
$red-tag: #ee5253;
$bg-body: #f8f9fa;
$text-dark: #1a1a1a;
$card-white: #ffffff;


$border-radius-card: 20px;
$staggered-offset: 40px;
// src/styles/_variables.scss
$grey-subtext: #666666;
$light-bg: #f1f3f5;
$white: #ffffff;
$shadow-soft: 0 2px 15px rgba(0, 0, 0, 0.05);